<html>
<head>
	<meta charset="UTF-8">
	<script src="http://127.0.0.1:8000/static/p5.js/p5.min.js"></script>
	<script src="http://127.0.0.1:8000/static/p5.js/addons/p5.dom.min.js"></script>
	<!-- <script src="../p5.js/p5.min.js"></script>
	<script src="../p5.js/addons/p5.dom.min.js"></script> -->

	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/CSS/CountDown.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script language="javascript" type="text/javascript" src="../static/test.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/MainJS_CountDown.js"></script>


	<!-- <script language="javascript" type="text/javascript" src="./plotly_set.js"></script>
	<script language="javascript" type="text/javascript" src="./DataInfo.js"></script>
	<script language="javascript" type="text/javascript" src="./MainWindow.js"></script>
	<script language="javascript" type="text/javascript" src="./Divtransition.js"></script> -->
	<!-- this line removes any default padding and style. you might only need one of these values set. -->
	<style>

</style>
</head>
<body>
</body>
</html>
