<html>
<head>
	<meta charset="UTF-8">
	<script src="http://127.0.0.1:8000/static/p5.js/p5.min.js"></script>
	<script src="http://127.0.0.1:8000/static/p5.js/addons/p5.dom.min.js"></script>
	<!-- <script src="../p5.js/p5.min.js"></script>
	<script src="../p5.js/addons/p5.dom.min.js"></script> -->


	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/CSS/TempChat.css">
	<script src="http://127.0.0.1:8000/static/plotly/plotly.min.js"></script>
	<script src="http://127.0.0.1:8000/static/socket.io/socket.io.js"></script>

	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/TempChatMisc.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/WebSocket.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/plotly_set.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/plotlyplot.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/DataInfo.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/DataProcessing.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/BuildWindow.js"></script>
	<script language="javascript" type="text/javascript" src="http://127.0.0.1:8000/static/MainJS_TempChat.js"></script>

	<!-- <script language="javascript" type="text/javascript" src="./plotly_set.js"></script>
	<script language="javascript" type="text/javascript" src="./DataInfo.js"></script>
	<script language="javascript" type="text/javascript" src="./MainWindow.js"></script>
	<script language="javascript" type="text/javascript" src="./Divtransition.js"></script> -->
	<!-- this line removes any default padding and style. you might only need one of these values set. -->
	<style>

</style>
</head>
<body>
</body>
</html>
